.cell__wrapper {
  width: 100%;
  background-color: rgb(235, 165, 235);
  display: flex;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid rgb(201, 92, 223);

  .name {
    margin-left: 20px;
    width: 150px;
  }
  .code {
    margin-left: 50px;
    width: 40px;
  }
  .mid {
    margin-left: 50px;
    width: 50px;
  }

  .delete {
    margin-left: 70px;
    width: 24px;
    height: 24px;
  }
}
